MODEL_NAME="openai/gpt-4o"
OPENAI_API_KEY="xxx"
OPENAI_BASE_URL="xxx"

TAVILY_API_KEY="xxx"

# mcp url

MANUAL_RAG_URL = "http://xxx:50001/sse"
MOLPILOT_SERVER_URL = "http://xxxh:50002/sse"
RAG_SERVER_URL = "http://xxx:50003/sse"
REACTION_URL = "http://xxx:50004/sse"


SCIENTIFIC_EVALUATOR_URL = "https://scieval-uuid1751243284.app-space.dplink.cc/sse?token=b42bd0b4ae784b109b6061a509bcaa8c"
# `build_molecule_structure` unused
STRUCTURE_GENERATE_URL = "https://cystalformer-uuid1754551471.app-space.dplink.cc/sse?token=deab1a666d8a4ffd9686493e9785042e"  


BOHRIUM_EMAIL="xxx@xxx"
BOHRIUM_PASSWORD="xxx"
BOHRIUM_PROJECT_ID=xxx
VOLCENGINE_API_KEY="xxx" 
